Meteor/.DS_Store
Meteor/thelist/.DS_Store
Meteor/thelist/public/.DS_Store
Meteor/thelist/public/images/.DS_Store
iOS/theList/theList.xcodeproj/project.xcworkspace/xcuserdata/ebistolas.xcuserdatad/UserInterfaceState.xcuserstate
